@using WebSiteBanSach.ViewModel
@model List<SachVaChuDe>

<h1 class="item-header">Sach Moi</h1>

@foreach (var item in Model)
{
	<div class="activity-list-update">
		<img src="@Url.Content("~/lib/HinhAnhSP/"+item.Sachs.AnhBia)" width="30" height="50" alt="Image">
		@*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 cho đến ký tự 30*@
		<p>
			<strong title="@item.Sachs.TenSach">
				Tiêu Đề:@item.Sachs.TenSach
			</strong>

				<br />
			<a href="@Url.Action("XemChiTiet","Sach",new{ masach=item.Sachs.MaSach, machude = item.ChuDes.MaChuDe})">Xem Chi Tiết</a>.
		</p>
		<div class="clear"></div>

	</div>
}

<a href="#" class="item-footer green">
	New Book
</a>
